<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Bullgin Support</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
    
    
    
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/Support/OpenSupport}"> Open Support Tikect<span class="sr-only">(current)</span></a>
                </li>
    
    
    
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/Support/ListSupport}"> Support Tikect  List <span class="sr-only">(current)</span></a>
                </li>
    
              
              
      
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
              <form class="d-inline "  method="POST" th:action="@{/logout}" >  
                <td ><button type="submit" th:text="${username}"  class="btn btn-primary ml-1">Take Ticket</button>  
                </form>
    
              <b></b>
            </div>
          </nav>



          
        <div class="container">
            <h1>Support Information </h1>
            <form class="needs-validation" method="post" th:action="@{/Support/CloseSupport }" novalidate>
                <div class="form-row">
                    <div class="col-md-7 mb-3">

                        <div class="form-group">
                            <label> Machien Id </label>
                            <input type="Disabeld" class="form-control" id="exampleInputPassword1" th:value="${Ticket.machine.id}" disabled placeholder="Password">
                        </div>

                        <div class="form-group">
                            <label> Support Titel</label>
                            <input type="Disabeld" class="form-control" id="exampleInputPassword1" th:value="${Ticket.titel}" disabled placeholder="Password">
                        </div>

                        <div class="form-group">
                            <label> BreakdDown Type</label>
                            <input type="Disabeld" class="form-control" id="exampleInputPassword1"  th:value="${Ticket.breakdown.type}" disabled placeholder="Password">
                        </div>


                        <div class="form-group">
                            <label>User</label>
                            <input type="Disabeld" class="form-control" id="exampleInputPassword1" th:value="${Ticket.user.username}"  disabled placeholder="Password">
                        </div>

                        <div class="form-group">
                            <label>Technician</label>
                            <input type="Disabeld" class="form-control" id="exampleInputPassword1" th:value="${Ticket.tecnesstion.username}"   disabled placeholder="Password">
                        </div>


                      
                         
                                <label for="prenom">DESCREPTION</label>
                                <textarea disabled class="form-control" th:text="${Ticket.descrption}"  name="DESCREPTION"  rows="3"></textarea>
                          
                           
                      
                    
                                <label for="prenom">OBSERVATION</label>
                                <textarea disabled class="form-control" th:text="${Ticket.observetion}" name="OBSERVATION"  rows="3"></textarea>
     
                       

                 
                           
                                <label for="prenom">Time</label>
                            <input type="Disabeld" class="form-control" id="exampleInputPassword1" th:value="${Duration}" disabled placeholder="Password">
                              
                                
                         
                 
                        





                      
                        
         

                    </div>
                </div>
                


        

       

            </form>
        </div>
   </body>
</body>
</html>