<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Bullgin Support</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
    
    
    
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/Support/OpenSupport}"> Open Support Tikect<span class="sr-only">(current)</span></a>
                </li>
    
    
    
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/Support/ListSupport}"> Support Tikect  List <span class="sr-only">(current)</span></a>
                </li>
    
              
              
      
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
              <form class="d-inline "  method="POST" th:action="@{/logout}" >  
                <td ><button type="submit" th:text="${username}"  class="btn btn-primary ml-1">Take Ticket</button>  
                </form>
    
              <b></b>
            </div>
          </nav>



        <div class="container">
            <h1>Open Support Ticket</h1>
            <form class="needs-validation" method="post" th:action="@{/Support/OpenSupport} "  th:object="${ticket}" >
                <div class="form-row">
                    <div class="col-md-7 mb-3">
                        <label for="Machine_ID">Machine_ID</label>
                        <input type="text" class="form-control"  th:field="*{machine}"  id="machine" placeholder="XXXXXX" >
                        
                        <div class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('machine')}" th:errors="*{machine}"> </div>
                        
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-7 mb-3">
                        <label for="Level">LEVEL</label>
                        <select  th:field="*{Level}"  class="custom-select">
                            <option value="Low">Low</option>
                            <option value="Normal">Hige</option>
                            <option value="Critical">Critical</option>
                          </select>
                        
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-7 mb-3">
                        <label >TITELE</label>
                        <input type="text" class="form-control" th:field="*{Titel}" id="Titel" placeholder="Pierre" >
                        <div class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('Titel')}" th:errors="*{Titel}"> </div>

                        
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-7 mb-3">
                        <label for="LEVEL">ERROR TYPE</label>
                        <select  class="custom-select"  th:field="*{breakdown}"  >
                           
                           <option th:each="BreakDown: ${BreakDowns}" th:value="${BreakDown.Id}" th:text="${BreakDown.type}">Pls work</option>
           
                          </select>
                        
                    </div>
                </div>
        

                <button class="btn btn-primary" type="submit">Envoyer</button>
                <button class="btn btn-Secondery" type="reset">Reset</button>

            </form>
        </div>
   </body>
</body>
</html>